<!DOCTYPE html>
<html lang="en">
<head>
    <title>OCAPI Settings With Ease</title>
    <meta name="description" content="OCAPI Settings With Ease is a tool that helps you working with your OCAPI configuration in a Salesforce B2C Commerce environement." />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="shortcut icon" href="/assets/favicon.ico" />

    <!-- Add manifest for add to home screen -->
    <link rel="manifest" href="./manifest.json" />

    <!-- Branding -->
    <meta name="theme-color" content="#2196f3" />

    <!-- Icons -->
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/icon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/icon-32x32.png" />
    <link rel="apple-touch-icon" sizes="192x192" href="/assets/icons/icon-192x192.png" />

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/design-system/2.11.8/styles/salesforce-lightning-design-system.min.css" />

    <style>
        .slds-tree-container, .slds-tree_container {
            max-width: max-content;
        }

        #ocapi-settings-generated {
            background-color: #EEE;
            resize: none;
            width: 100%;
            height: 600px;
        }

        .slds-tree_container .slds-tree__item .slds-form-element {
            display: inline-block;
        }
    </style>

    <% if (typeof googleAnalyticsTagID !== 'undefined') { %>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=<%= googleAnalyticsTagID %>"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '<%= googleAnalyticsTagID %>');
        </script>
    <% } %>
</head>
<body>
    <div class="slds-scope">
        <div class="slds-builder-header_container">
            <header class="slds-builder-header">
                <div class="slds-builder-header__item">
                    <a href="javascript:void(0);" class="slds-builder-header__item-label slds-media slds-media_center">
                        <div class="slds-media__figure">
                            <span class="slds-icon_container slds-icon-utility-builder slds-current-color">
                                <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                    <use xlink:href="/assets/symbols.svg#builder"></use>
                                </svg>
                            </span>
                        </div>
                        <div class="slds-media__body">OCAPI Settings With Ease</div>
                    </a>
                </div>
                <div class="slds-builder-header__item slds-builder-header__utilities">
                    <div class="slds-builder-header__utilities-item">
                        <a href="https://documentation.b2c.commercecloud.salesforce.com/DOC1/topic/com.demandware.dochelp/OCAPI/current/usage/OpenCommerceAPI.html" target="_blank" class="slds-builder-header__item-action slds-media slds-media_center">
                            <div class="slds-media__figure">
                                <span class="slds-icon_container slds-icon-utility-help slds-current-color">
                                    <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                        <use xlink:href="/assets/symbols.svg#help"></use>
                                    </svg>
                                </span>
                            </div>
                            <div class="slds-media__body">API Docs</div>
                        </a>
                    </div>
                </div>
            </header>
        </div>

        <div class="slds-box slds-card slds-var-m-top_xx-large">
            <div class="slds-grid slds-gutters slds-m-around_medium">
                <div class="slds-col slds-size_6-of-12">
                    <div class="slds-form">
                        <div class="slds-form-element slds-form-element_horizontal">
                            <label class="slds-form-element__label" for="host">Instance Hostname</label>
                            <div class="slds-form-element__control">
                                <input type="text" id="host" placeholder="demo-ocapi.demandware.net" class="slds-input" />
                            </div>
                        </div>
                        <div class="slds-form-element slds-form-element_horizontal">
                            <label class="slds-form-element__label" for="host">Client ID</label>
                            <div class="slds-form-element__control">
                                <input type="text" id="client_id" placeholder="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa" value="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa" class="slds-input" />
                            </div>
                        </div>
                        <div class="slds-form-element slds-form-element_horizontal">
                            <label class="slds-form-element__label" for="host">Client secret</label>
                            <div class="slds-form-element__control">
                                <input type="text" id="client_secret" placeholder="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa" value="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa" class="slds-input" />
                            </div>
                        </div>
                        <fieldset class="slds-form-element slds-form-element_horizontal">
                            <legend class="slds-form-element__legend slds-form-element__label">API</legend>
                            <div class="slds-form-element__control">
                                <div class="slds-radio_button-group api-selector">
                                    <span class="slds-button slds-radio_button">
                                        <input type="radio" name="api-selector" id="api-shop" value="shop" />
                                        <label class="slds-radio_button__label" for="api-shop">
                                            <span class="slds-radio_faux">Shop</span>
                                        </label>
                                    </span>
                                    <span class="slds-button slds-radio_button">
                                        <input type="radio" name="api-selector" id="api-data" value="data" />
                                        <label class="slds-radio_button__label" for="api-data">
                                            <span class="slds-radio_faux">Data</span>
                                        </label>
                                    </span>
                                </div>
                            </div>
                            <div class="slds-form-element__help">This field is required</div>
                        </fieldset>
                        <div class="slds-form-element slds-form-element_horizontal">
                            <label class="slds-form-element__label" for="api-version">API Version</label>
                            <div class="slds-form-element__control">
                                <input type="text" id="api-version" placeholder="'current' or the API number, like 19.5 or 20.4" value="current" class="slds-input" />
                            </div>
                        </div>
                        <div class="slds-form__row">
                            <button class="slds-button slds-button_brand submit-api-form">Fetch API</button>
                            <div class="spinner-api-form" style="height:2rem">
                                <div class="slds-spinner_container slds-is-fixed">
                                    <div role="status" class="slds-spinner slds-spinner_medium slds-spinner_brand">
                                        <span class="slds-assistive-text">Loading</span>
                                        <div class="slds-spinner__dot-a"></div>
                                        <div class="slds-spinner__dot-b"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr />

                    <div class="api-content">
                        <div class="slds-grid slds-size_12-of-12">
                            <div class="slds-col slds-size_6-of-12 slds-p-horizontal_none">
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label slds-assistive-text" for="paths-tree">Filter list</label>
                                    <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_left">
                                        <svg class="slds-icon slds-input__icon slds-input__icon_left slds-icon-text-default" aria-hidden="true">
                                            <use xlink:href="/assets/symbols.svg#search"></use>
                                        </svg>
                                        <input type="search" aria-controls="paths-tree" placeholder="Quick Find" class="slds-input tree-filter" />
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_3-of-12 slds-p-horizontal_xx-small">
                                <button class="slds-button slds-button_neutral slds-button_dual-stateful slds-button_stretch all-toggle-tree" aria-live="assertive" title="All">
                                    <span class="slds-text-not-pressed">
                                        <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                                            <use xlink:href="/assets/symbols.svg#all"></use>
                                        </svg>
                                        Select All
                                    </span>
                                    <span class="slds-text-pressed">
                                        <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                                            <use xlink:href="/assets/symbols.svg#all"></use>
                                        </svg>
                                        Unselect All
                                    </span>
                                </button>
                            </div>
                            <div class="slds-col slds-size_3-of-12 slds-p-horizontal_none">
                                <button class="slds-button slds-button_neutral slds-button_dual-stateful slds-button_stretch wildcard-toggle-tree" aria-live="assertive" title="Wildcard">
                                    <span class="slds-text-not-pressed">
                                        <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                                            <use xlink:href="/assets/symbols.svg#favorite"></use>
                                        </svg>
                                        Wildcard
                                    </span>
                                    <span class="slds-text-pressed">
                                        <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                                            <use xlink:href="/assets/symbols.svg#favorite"></use>
                                        </svg>
                                        Reset Wildcard
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="slds-tree_container slds-m-vertical_medium slds-col slds-size_12-of-12">
                            <ul aria-labelledby="treeheading" class="slds-tree" id="paths-tree" role="tree"></ul>
                        </div>
                    </div>
                </div>
                <div class="slds-col slds-size_6-of-12">
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="ocapi-settings-generated">
                            <ul class="slds-list_horizontal slds-has-dividers_left slds-has-block-links">
                                <li class="slds-item">
                                    Generated OCAPI Settings
                                </li>
                                <li class="slds-item">
                                    <button class="slds-button copy-to-clipboard">Copy to clipboard</button>
                                </li>
                            </ul>
                        </label>
                        <div class="slds-form-element__control">
                            <textarea id="ocapi-settings-generated" readonly aria-readonly="true" class="slds-textarea slds-p-around_x-small"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/assets/ocapi.js"></script>

    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>
</html>